{% extends "recipes/base.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Change Password</h2>
        </div>
    </div>
    <form class=form-group" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='mb-4 control-label text-right'>New password</label>
            <div class="mb-4 text-left">{{ form.new_password1 }}</div>
        </div>
        <div class="form-group">
            <label class='mb-4 control-label text-right'>Confirm password</label>
            <div class="mb-4 text-left">{{ form.new_password2 }}</div>
        </div>
        <div>
            <p class="small">* Your password cannot be too similar to your other personal information.</p>
            <p class="small">*  Your password must contain at least 8 characters.</p>
            <p class="small">*  Your password cannot be a commonly used password.</p>
            <p class="small">*  Your password cannot be entirely numeric.</p>
        </div>
        <input type="submit" value="Submit" class="btn btn-outline-info" />
    </form>
</div>
{% endblock %}